@font-face {
  font-family: Montserrat-Regular;
  src: url('./fonts/montserrat/Montserrat-Regular.ttf');
}

@font-face {
  font-family: Montserrat-Bold;
  src: url('./fonts/montserrat/Montserrat-Bold.ttf');
}

@font-face {
  font-family: Montserrat-Black;
  src: url('/fonts/montserrat/Montserrat-Black.ttf');
}

@font-face {
  font-family: Montserrat-SemiBold;
  src: url('./fonts/montserrat/Montserrat-SemiBold.ttf');
}

@font-face {
  font-family: Montserrat-Medium;
  src: url('./fonts/montserrat/Montserrat-Medium.ttf');
}

.bg0 {background-color: #fff;}
.bg1 {background-color: #f7f7f7;}

.form {
  width: 100%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.form-title {
  display: block;
  width: 100%;
  font-size: 39px;
  color: #333333;
  line-height: 1.2;
  text-align: center;
  padding-bottom: 59px;
  font-weight: 700;
}

.page-registry {
  width: 100%;
  min-height: 100vh;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  padding: 15px;
  background: #e6e6e6;
  overflow: hidden;
}

.wrap-input {
  width: 100%;
  position: relative;
  border: 1px solid #e6e6e6;
  border-radius: 13px;
  padding: 10px 30px 16px 22px;
  margin-bottom: 20px;
}

.wrap-input-start-time {
width: 45%;
}

.wrap-input-end-time {
  width: 42%;
}

.wrap-input-date {
width: 45%;
}

.wrap-input-grade {
  width: 42%;
}

.form-input {
  display: block;
  width: 100%;
  background: transparent;
  font-family: Montserrat-SemiBold;
  font-size: 18px;
  color: #555555;
  line-height: 1.2;
  padding-right: 15px;
  border: none;
}

.date-field {
  margin-left: 30px;
}

.flight-fields {
  margin-top: 40px;
}

.submit-button {
  margin-top: 40px;
}

.wrap-page-registry{
  width: 920px;
  background: #fff;
  border-radius: 10px;
  overflow: hidden;
  padding: 62px 55px 90px 55px;
}

.label-input {
  font-size: 14px;
  color: #393939;
  line-height: 1.5;
  text-transform: uppercase;
  font-weight: 500;
  font-family: Montserrat-SemiBold;
}

.form-input-comment {
  height: 40px;
  min-height: 120px;
  padding-top: 9px;
  padding-bottom: 13px;
  width: 100%;
  margin-top: 12px;
  font-size: 16px;
  font-family: Montserrat-Regular;
  border: none;
}

.container-form-btn {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding-top: 20px;
  width: 100%;
}

.register-flight-form-btn {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 20px;
  width: 100%;
  height: 50px;
  background-color: #333333;
  border-radius: 25px;

  font-family: Montserrat-Bold;
  font-size: 20px;
  color: #fff;
  line-height: 1.2;

  -webkit-transition: all 0.4s;
  -o-transition: all 0.4s;
  -moz-transition: all 0.4s;
  transition: all 0.4s;
}

.register-flight-form-btn i {
  -webkit-transition: all 0.4s;
  -o-transition: all 0.4s;
  -moz-transition: all 0.4s;
  transition: all 0.4s;
}

.register-flight-form-btn:hover {
  background-color: #00ad5f;
}

.register-flight-form-btn:hover i {
  -webkit-transform: translateX(10px);
  -moz-transform: translateX(10px);
  -ms-transform: translateX(10px);
  -o-transform: translateX(10px);
  transform: translateX(10px);
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

